
<header class="header header-style-02 header-sticky">
    <div class="header-main py-lg-4">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="d-lg-flex align-items-center">
              <!-- logo -->
              <a class="navbar-brand logo text-lg-center" href="index.html">
                <img src="assets/images/logo.svg" alt="Logo">
              </a>
              <!-- header contact info -->
              <div class="header-contact-info ml-auto justify-content-center d-none d-lg-flex">
                <div class="d-flex mr-3">
                  <i class="fa fa-phone fa-flip-horizontal fa-fw align-self-center"></i>
                  <div class="align-self-center">
                    <span class="d-block font-weight-bold mb-1 text-dark">Call Now</span>
                    <span>(+112) 7890 654 123</span>
                  </div>
                </div>
                <div class="d-flex mr-3 mb-1 mb-lg-0">
                  <i class="far fa-envelope fa-fw align-self-center"></i>
                  <div class="align-self-center">
                    <span class="d-block font-weight-bold mb-1 text-dark">Send Message</span>
                    <span>support@academic.com</span>
                  </div>
                </div>
                <div class="d-flex mb-1 mb-lg-0">
                  <i class="fas fa-map-marker-alt fa-fw align-self-center"></i>
                  <div class="align-self-center">
                    <span class="d-block font-weight-bold mb-1 text-dark">Our Location</span>
                    <span>721 Bedford Court</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-menu bg-light">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg">
              <!-- Sticky logo -->
              <a class="navbar-brand logo-sticky" href="index.html">
                <img src="assets/images/logo.svg" alt="Logo">
              </a>
              <!-- Navbar toggler START-->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <!-- Navbar toggler END-->

              <!-- Navbar START -->
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-pills">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }"  href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                    <!-- Dropdown Menu -->
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/about-us" routerLinkActive="active"  href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About US</a>
                    
                  </li>

                  <li class="nav-item dropdown ">
                    <a routerLink="/commitee" routerLinkActive="active"  class="nav-link  dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Commitee
                    </a>
                  </li>

                  <li class="nav-item dropdown">
                    <a routerLink="/admission" routerLinkActive="active"  class="nav-link  dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admission
                    </a>
                  </li>


                  <li class="nav-item dropdown">
                    <a routerLink="/academic" routerLinkActive="active"  class="nav-link  dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Academic
                    </a>
                  </li>

                  <li class="nav-item dropdown">
                    <a routerLink="/alumini" routerLinkActive="active"  class="nav-link  dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Alumini
                    </a>
                  </li>

                  <li class="nav-item dropdown">
                    <a routerLink="/course" routerLinkActive="active"  class="nav-link  dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Course
                    </a>
                    <!-- Dropdown Menu -->
                  </li>
                  <li class="nav-item dropdown">
                    <a  routerLink="/event" routerLinkActive="active"   class="nav-link  dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Event
                    </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a routerLink="/gallary" routerLinkActive="active"  class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gallery
                    </a>
                    <!-- Dropdown Menu -->
                  </li>
                  <li class="nav-item">
                    <a routerLink="/contact-us" routerLinkActive="active"   class="nav-link" href="contact-us.html">Contact Us</a>
                  </li>
                </ul>
              </div>
              <!-- Navbar END-->
           </nav>
          </div>
        </div>
      </div>
    </div>
  </header>