<p>footer works!</p>
<footer class="space-pt bg-overlay-black-90 bg-holder footer mt-n5" style="background-image: url(assets/images/bg/03.jpg);">
    <div class="container pt-5">
      <div class="row pb-5 pb-lg-6 mb-lg-3">
        <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0 pr-lg-5">
          <a href="index.html"><img class="img-fluid mb-3 footer-logo" src="assets/images/logo-light.svg" alt=""></a>
          <p class="text-white">The best way is to develop and follow a plan. Start with your goals in mind and then work backward to develop the plan.</p>
          <h5 class="text-white mb-2 mb-sm-4">Follow Us</h5>
          <div class="social-icon social-icon-style-02">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-2 mb-4 mb-lg-0">
          <h5 class="text-white mb-2 mb-sm-4">Category</h5>
          <div class="footer-link">
            <ul class="list-unstyled mb-0">
              <li><a class="text-white" href="#">Economics</a></li>
              <li><a class="text-white" href="#">Natural</a></li>
              <li><a class="text-white" href="#">Architecture</a></li>
              <li><a class="text-white" href="#">Electrical</a></li>
              <li><a class="text-white" href="#">Biological</a></li>
              <li><a class="text-white" href="#">Psychology</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-2 mb-4 mb-sm-0">
          <h5 class="text-white mb-2 mb-sm-4">Useful Link</h5>
          <div class="footer-link">
            <ul class="list-unstyled mb-0">
              <li><a class="text-white" href="index.html">Home</a></li>
              <li><a class="text-white" href="about-us.html">About</a></li>
              <li><a class="text-white" href="course.html">Course</a></li>
              <li><a class="text-white" href="privacy-policy.html">Privacy Policy</a></li>
              <li><a class="text-white" href="pricing.html">Pricing</a></li>
              <li><a class="text-white" href="faq.html">Faq</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <h5 class="text-white mb-2 mb-sm-4">Contact Us</h5>
          <p class="text-white">Helped thousands of clients to find the right property for their needs.</p>
          <div class="footer-contact-info">
            <div class="contact-address mt-4">
              <div class="contact-item">
                <i class="fas fa-map-marker-alt"></i>
                <p class="ml-3 mb-0 text-white">6580 Allison Turnpike Creminfort, AL 32808-4509</p>
              </div>
              <div class="contact-item">
                <i class="fas fa-microphone-alt"></i>
                <p class="mb-0 font-weight-bold ml-3"><a class="text-white" href="#">+(123) 456-7890</a></p>
              </div>
              <div class="contact-item mb-0">
                <i class="fas fa-headset"></i>
                <a class="text-white ml-3 text-white" href="#">letstalk@academic.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom bg-dark py-4">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12 text-center">
            <p class="mb-0 text-white">©Copyright 2020 <a href="index.html">academic</a> All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>