<section class="inner-banner bg-overlay-black-70 bg-holder" style="background-image: url('assets/images/bg/06.jpg');">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="text-center">
          <h1 class="text-white">Alumini</h1>
        </div>
        <div class="d-flex justify-content-center ">
          <ol class="breadcrumb mb-0 p-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active"><span>Alumini</span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="wpb_wrapper">
  <h3 style="padding-top: 2%; padding-left: 2%;"><span class="sd-colored">About Alumni Affairs</span></h3>
  <p style="padding-left: 2%;">The Alumni Affairs Office is focused on keeping our alumni connected with the College. This center provides you
    with several links to help you stay informed about campus and alumni news, as well as links to request and submit
    information to the College. Our alumni are valued members of the College community and the College looks forward to
    working with each and every one to continue its growth and success of our community.</p>
</div>


<section class="space-ptb bg-light">
  <div class="container">
    <div class="row no-gutters">

      <div class="col-lg-16">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
              aria-controls="nav-home" aria-selected="true">Home</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
              aria-controls="nav-profile" aria-selected="false">Add Alumini</a>
          </div>
        </nav>
        <div class="tab-content bg-white p-4 p-md-5" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="section-title mb-4">
              <h3 class="title">Home</h3>
            </div>
            <p class="mb-4 mb-md-4 pb-2">The other virtues practice in succession by Franklin were silence, order,
              resolution, frugality, industry, sincerity, Justice, moderation, cleanliness, tranquility, chastity and
              humility. For the summary order he followed a little scheme of employing his time each day.</p>
            <a href="#" class="btn btn-primary btn-round">Read More</a>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="section-title mb-4">

              <!-- <p class="mb-0">We all know that nothing moves until someone makes a decision. The first action is always in making the decision to proceed. This is a fundamental step, which most people overlook.</p> -->
            </div>
            <p class="mb-4 mb-md-4 pb-2"></p>
            <div class="col-lg-5">
              <div class="bg-white border-radius">

                <form class="form-row mt-0 align-items-center p-4 p-lg-5">
                  <div class="form-group col-12">
                    <label class="text-dark font-weight-bold">Full Name</label>
                    <input type="text" class="form-control" placeholder="" fdprocessedid="lbwdxe">
                  </div>
                  <div class="form-group col-12">
                    <label class="text-dark font-weight-bold">Email Address</label>
                    <input type="email" class="form-control" placeholder="" fdprocessedid="gb6p2o">
                  </div>
                  <div class="form-group col-12">
                    <label class="text-dark font-weight-bold">Your Phone</label>
                    <input type="text" class="form-control" placeholder="" fdprocessedid="u5uhd">
                  </div>
                  <div class="form-group col-12 mb-4">
                    <label class="text-dark font-weight-bold">dob</label>
                    <input type="date" class="form-control" placeholder="dd-mm-yyyy" fdprocessedid="igzgh7">
                  </div>
                  <div class="form-group col-12 mb-4">
                    <label class="text-dark font-weight-bold">Company Name</label>
                    <input type="text" class="form-control" placeholder="" fdprocessedid="igzgh7">
                  </div>
                  <div class="form-group col-12 mb-4">
                    <label class="text-dark font-weight-bold">Designation</label>
                    <input type="text" class="form-control" placeholder="" fdprocessedid="igzgh7">
                  </div>
                  <span>Do you wish to have your information published to the Alumni newsletter? If no, your information
                    will be kept for internal use only. *</span>
                  yes <input type="radio" name="yes" value="yes" id="">
                  No <input type="radio" name="No" value="No" id="">
                  <br><br>
                  <div class="form-group col-sm-12 mb-0">
                    <button type="submit" class="btn btn-primary" fdprocessedid="45frfc">Submit Now</button>
                  </div>


                </form>


              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="section-title mb-4">
              <h3 class="title">Clarity – developing the Vision</h3>
              <p class="mb-0">Having clarity of purpose and a clear picture of what you desire, is probably the single
                most important factor in achievement. Why is Clarity so important?</p>
            </div>
            <p class="mb-4 mb-md-4 pb-2">Without clarity, you send a very garbled message out to the Universe. We know
              that the Law of Attraction says that we will attract what we focus on, so if we don’t have clarity, we
              will attract confusion.</p>
            <a href="#" class="btn btn-primary btn-round">Read More</a>
          </div>
          <div class="tab-pane fade" id="nav-design" role="tabpanel" aria-labelledby="nav-design-tab">
            <div class="section-title mb-4">
              <h3 class="title">Focus – having a plan</h3>
              <p class="mb-0">The best way is to develop and follow a plan. Start with your goals in mind and then work
                backward to develop the plan. What steps are required to get you to the goals? Make the plan as detailed
                as possible.</p>
            </div>
            <p class="mb-4 mb-md-4 pb-2">Try to visualize and then plan for, every possible setback. Commit the plan to
              paper and then keep it with you at all times. Review it regularly and ensure that every step takes you
              closer to your Vision and Goals. If the plan doesn’t support the vision then change it!</p>
            <a href="#" class="btn btn-primary btn-round">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>