<section class="inner-banner bg-overlay-black-70" style="background-image: url('assets/images/bg/08.jpg');">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <div class="text-center">
            <h1 class="text-white">Course</h1>
          </div>
          <div class="d-flex justify-content-center ">
            <ol class="breadcrumb mb-0 p-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active"><span>Course</span></li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="space-ptb">
    <div class="container">
      <div class="row">
        <!-- item START -->
    
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="course-item">
            <div class="coures-img">
              <img class="img-fluid" src="assets/images/courses/01.jpg" alt="">
              <div class="course-tag">
                <a class="badge-success" href="#">Business</a>
              </div>
            </div>
            <div class="course-conten">
              <a href="#" class="course-author d-flex align-items-center mb-3">
                <img class="avatar img-fluid" src="assets/images/avatar/01.jpg" alt="">
                <span class="author-name">Alice Williams</span>
              </a>
              <h5 class="mb-3">
                <a href="course-detail.html">Aeronautical &amp; Manufacturing Engineering</a>
              </h5>
              <div class="course-rating mb-3 pb-3 border-bottom">
                <div class="review-rating">
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="course-meta">
                <ul class="list-unstyled mb-0">
                  <li><i class="fa fa-user pr-2"></i>12 students</li>
                  <li><i class="fa fa-book-open pr-2"></i>08 lessons</li>
                  <li class="price text-primary"><span>$100</span> $50</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
     
        <!-- item End -->

        <!-- item START -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="course-item">
            <div class="coures-img">
              <img class="img-fluid" src="assets/images/courses/02.jpg" alt="">
              <div class="course-tag">
                <a class="badge-danger" href="#">Politics</a>
              </div>
            </div>
            <div class="course-conten">
              <a href="#" class="course-author d-flex align-items-center mb-3">
                <img class="avatar img-fluid" src="assets/images/avatar/04.jpg" alt="">
                <span class="author-name">Mellissa Doe</span>
              </a>
              <h5 class="mb-3">
                <a href="course-detail.html">Business &amp; Management Studies</a>
              </h5>
              <div class="course-rating mb-3 pb-3 border-bottom">
                <div class="review-rating">
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="course-meta">
                <ul class="list-unstyled mb-0">
                  <li><i class="fa fa-user pr-2"></i>08 students</li>
                  <li><i class="fa fa-book-open pr-2"></i>04 lessons</li>
                  <li class="price text-primary"><span>$80</span> $40</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- item End -->

        <!-- item START -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="course-item">
            <div class="coures-img">
              <img class="img-fluid" src="assets/images/courses/03.jpg" alt="">
              <div class="course-tag">
                <a class="badge-dark" href="#">Psychology</a>
              </div>
            </div>
            <div class="course-conten">
              <a href="#" class="course-author d-flex align-items-center mb-3">
                <img class="avatar img-fluid" src="assets/images/avatar/02.jpg" alt="">
                <span class="author-name">Paul Flavius</span>
              </a>
              <h5 class="mb-3">
                <a href="course-detail.html">History of Art, Architecture &amp; Design</a>
              </h5>
              <div class="course-rating mb-3 pb-3 border-bottom">
                <div class="review-rating">
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="course-meta">
                <ul class="list-unstyled mb-0">
                  <li><i class="fa fa-user pr-2"></i>16 students</li>
                  <li><i class="fa fa-book-open pr-2"></i>10 lessons</li>
                  <li class="price text-primary"><span>$150</span> $80</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- item End -->

        <!-- item START -->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="course-item">
            <div class="coures-img">
              <img class="img-fluid" src="assets/images/courses/04.jpg" alt="">
              <div class="course-tag">
                <a class="badge-warning" href="#">Medicine</a>
              </div>
            </div>
            <div class="course-conten">
              <a href="#" class="course-author d-flex align-items-center mb-3">
                <img class="avatar img-fluid" src="assets/images/avatar/05.jpg" alt="">
                <span class="author-name">Felica Queen</span>
              </a>
              <h5 class="mb-3">
                <a href="course-detail.html">Communication &amp; Media Studies</a>
              </h5>
              <div class="course-rating mb-3 pb-3 border-bottom">
                <div class="review-rating">
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="course-meta">
                <ul class="list-unstyled mb-0">
                  <li><i class="fa fa-user pr-2"></i>21 students</li>
                  <li><i class="fa fa-book-open pr-2"></i>09 lessons</li>
                  <li class="price text-primary"><span>$180</span> $90</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- item End -->

        <!-- item START -->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <div class="course-item">
            <div class="coures-img">
              <img class="img-fluid" src="assets/images/courses/05.jpg" alt="">
              <div class="course-tag">
                <a class="badge-primary" href="#">Architecture</a>
              </div>
            </div>
            <div class="course-conten">
              <a href="#" class="course-author d-flex align-items-center mb-3">
                <img class="avatar img-fluid" src="assets/images/avatar/03.jpg" alt="">
                <span class="author-name">Michael Bean</span>
              </a>
              <h5 class="mb-3">
                <a href="course-detail.html">Geography &amp; Environmental Science</a>
              </h5>
              <div class="course-rating mb-3 pb-3 border-bottom">
                <div class="review-rating">
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="course-meta">
                <ul class="list-unstyled mb-0">
                  <li><i class="fa fa-user pr-2"></i>25 students</li>
                  <li><i class="fa fa-book-open pr-2"></i>15 lessons</li>
                  <li class="price"><span>$300</span> $200</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- item End -->

        <!-- item START -->
        <div class="col-lg-4 col-md-6">
          <div class="course-item">
            <div class="coures-img">
              <img class="img-fluid" src="assets/images/courses/06.jpg" alt="">
              <div class="course-tag">
                <a class="badge-info" href="#">Biological</a>
              </div>
            </div>
            <div class="course-conten">
              <a href="#" class="course-author d-flex align-items-center mb-3">
                <img class="avatar img-fluid" src="assets/images/avatar/06.jpg" alt="">
                <span class="author-name">Sara Lisbon</span>
              </a>
              <h5 class="mb-3">
                <a href="course-detail.html">Electrical &amp; Electronic Engineering</a>
              </h5>
              <div class="course-rating mb-3 pb-3 border-bottom">
                <div class="review-rating">
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="course-meta">
                <ul class="list-unstyled mb-0">
                  <li><i class="fa fa-user pr-2"></i>35 students</li>
                  <li><i class="fa fa-book-open pr-2"></i>17 lessons</li>
                  <li class="price text-primary"><span>$500</span> $280</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- item End -->
      </div>
      <div class="row justify-content-center mt-4 mt-md-5">
        <div class="col-lg-8 text-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mb-0">
              <li class="page-item"><a class="page-link rounded-left" href="#">Previous</a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link rounded-right" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>



  <section class="space-ptb bg-dark">
    <div class="container">
      <div class="row mb-3 mb-md-0">
        <div class="col-md-8">
          <div class="section-title">
            <h2 class="title">Our Popular Courses</h2>
          </div>
        </div>
        <div class="col-md-4 text-md-right">
          <a class="btn btn-primary" href="#">All Courses</a>
        </div>
      </div>
      <div class="row popular-courses">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <!-- <div class="example1">
            <div class="panel panel-default">
              <div class="panel-heading d-flex justify-content-between rounded-top h6" data-acc-link="demo5"><span>Economics & Finance</span>01 Courses</div>
              <div class="panel-body rounded-bottom" data-acc-content="demo5">
                <a href="#">Business & Management Studies</a>
                <p class="text-dark">$ 15,800 Fee / Yearly | 4 Years</p>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading d-flex justify-content-between h6" data-acc-link="demo6"><span>Engineering & Technology</span>02 Courses</div>
              <div class="panel-body" data-acc-content="demo6">
                <a href="#">Aeronautical & Manufacturing Engineering</a>
                <p class="text-dark">$ 12,700 Fee / Yearly | 4 Years</p>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading d-flex justify-content-between h6" data-acc-link="demo7"><span>Life Sciences & Medicine</span>03 Courses</div>
              <div class="panel-body" data-acc-content="demo7">
                <a href="#">Hospitality, Leisure, Recreation & Tourism</a>
                <p class="text-dark">$ 20,500 Fee / Yearly | 4 Years</p>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading d-flex justify-content-between rounded-top h6" data-acc-link="demo8"><span>Natural Sciences</span>04 Courses</div>
              <div class="panel-body rounded-bottom" data-acc-content="demo8">
                <a href="#">Geography & Environmental Science</a>
                <p class="text-dark">$ 22,000 Fee / Yearly | 4 Years</p>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading d-flex justify-content-between h6" data-acc-link="demo9"><span>Management</span>05 Courses</div>
              <div class="panel-body" data-acc-content="demo9">
                <a href="#">Business & Management Studies</a>
                <p class="text-dark">$ 30,400 Fee / Yearly | 4 Years</p>
              </div>
            </div>

            <div class="panel panel-default mb-0">
              <div class="panel-heading d-flex justify-content-between h6 mb-0" data-acc-link="demo4"><span>Masters in Accounting</span>06 Courses</div>
              <div class="panel-body" data-acc-content="demo4">
                <a href="#">Drama, Dance & Cinematics</a>
                <p class="text-dark">$ 10,500 Fee / Yearly | 4 Years</p>
              </div>
            </div>
          </div> -->
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span>Economics &amp; Finance</span>01 Courses
                  </button>
                </h2>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <a href="#">Business &amp; Management Studies</a>
                  <p class="text-dark">$ 15,800 Fee / Yearly | 4 Years</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <span>Engineering &amp; Technology</span>02 Courses
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <a href="#">Aeronautical &amp; Manufacturing Engineering</a>
                  <p class="text-dark">$ 12,700 Fee / Yearly | 4 Years</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    <span>Sciences &amp; Medicine</span>03 Courses
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <a href="#">Hospitality, Leisure, Recreation &amp; Tourism</a>
                  <p class="text-dark">$ 20,500 Fee / Yearly | 4 Years</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    <span>Natural Sciences</span>04 Courses
                  </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  <a href="#">Geography &amp; Environmental Science</a>
                  <p class="text-dark">$ 22,000 Fee / Yearly | 4 Years</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    <span>Management</span>05 Courses
                  </button>
                </h2>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                  <a href="#">Business &amp; Management Studies</a>
                  <p class="text-dark">$ 30,400 Fee / Yearly | 4 Years</p>
                </div>
              </div>
            </div>
            <div class="card mb-0">
              <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                    <span>Masters in Accounting</span>06 Courses
                  </button>
                </h2>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                  <a href="#">Drama, Dance &amp; Cinematics</a>
                  <p class="text-dark">$ 10,500 Fee / Yearly | 4 Years</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="accordion" id="accordionExample2">
            <div class="card">
              <div class="card-header" id="headingSaven">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapseSaven" aria-expanded="true" aria-controls="collapseSaven">
                    <span>Sciences &amp; Medicine</span>07 Courses
                  </button>
                </h2>
              </div>
              <div id="collapseSaven" class="collapse" aria-labelledby="headingSaven" data-parent="#accordionExample2">
                <div class="card-body">
                  <a href="#">History of Art, Architecture &amp; Design</a>
                  <p class="text-dark">$ 24,800 Fee / Yearly | 4 Years</p>
                </div>
              </div>
            </div>
            <div class="card">
             <div class="card-header" id="headingEight">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                    <span>Computer Science</span>08 Courses
                  </button>
                </h2>
              </div>
              <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample2">
                <div class="card-body">
                  <a href="#">Theology &amp; Religious Studies</a>
                  <p class="text-dark">$ 16,200 Fee / Yearly | 4 Years</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingNine">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                    <span>Electrical Engineering</span>09 Courses
                  </button>
                </h2>
              </div>
              <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample2">
                <div class="card-body">
                  <a href="#">Electrical &amp; Electronic Engineering</a>
                  <p class="text-dark">$ 12,300 Fee / Yearly | 4 Years</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTen">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                    <span>Mechanical Engineering</span>10 Courses
                  </button>
                </h2>
              </div>
              <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample2">
                <div class="card-body">
                  <a href="#">Electrical &amp; Electronic Engineering</a>
                  <p class="text-dark">$ 17,800 Fee / Yearly | 4 Years</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingElevan">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapseElevan" aria-expanded="true" aria-controls="collapseElevan">
                    <span>Biological Sciences</span>11 Courses
                  </button>
                </h2>
              </div>
              <div id="collapseElevan" class="collapse" aria-labelledby="headingElevan" data-parent="#accordionExample2">
                <div class="card-body">
                  <a href="#">Theology &amp; Religious Studies</a>
                  <p class="text-dark">$ 15,800 Fee / Yearly | 4 Years</p>
                </div>
              </div>
            </div>
            <div class="card mb-0">
              <div class="card-header" id="headingtwelve">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapsetwelve" aria-expanded="true" aria-controls="collapsetwelve">
                    <span>Medicine</span>12 Courses
                  </button>
                </h2>
              </div>
              <div id="collapsetwelve" class="collapse" aria-labelledby="headingtwelve" data-parent="#accordionExample2">
                <div class="card-body">
                  <a href="#">Hospitality, Leisure, Recreation &amp; Tourism</a>
                  <p class="text-dark">$ 15,500 Fee / Yearly | 4 Years</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
