<section class="inner-banner bg-overlay-black-70 bg-holder" style="background-image: url('assets/images/bg/09.jpg');">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <div class="text-center">
            <h1 class="text-white">Gallary</h1>
          </div>
          <div class="d-flex justify-content-center ">
            <ol class="breadcrumb mb-0 p-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active"><span>Gallary</span></li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="space-ptb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 text-center">
          <!-- Section Title START -->
          <div class="section-title">
            <h2>Our Gallery</h2>
          </div>
          <!-- Section Title END -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="filters-group mb-lg-4 text-center">
            <button class="btn-filter  active" data-group="all" fdprocessedid="cbenqh">All</button>
            <button class="btn-filter" data-group="branding" fdprocessedid="y1q70p">Branding</button>
            <button class="btn-filter" data-group="web" fdprocessedid="iped4s">Web</button>
            <button class="btn-filter" data-group="photography" fdprocessedid="wulvc">Photography</button>
            <button class="btn-filter" data-group="advertising" fdprocessedid="98ct1q">Advertising</button>
            <button class="btn-filter" data-group="design" fdprocessedid="z3sy5f">Design</button>
          </div>
          <div class="my-shuffle-container columns-3 popup-gallery full-screen shuffle" style="position: relative; overflow: hidden; height: 779.976px; transition: height 700ms cubic-bezier(0.4, 0, 0.2, 1) 0s;">
            <!-- item START -->
            <div class="grid-item shuffle-item shuffle-item--visible" data-groups="[&quot;branding&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; will-change: transform; opacity: 1; transition-duration: 700ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
              <div class="portfolio-item">
                <div class="position-relative">
                  <img class="img-fluid" src="assets/images/gallery/02.jpg" alt="">
                  <div class="portfolio-overlay">
                    <a class="portfolio-img" href="assets/images/gallery/02.jpg"><i class="fas fa-arrows-alt"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- item End -->

            <!-- item START -->
            <div class="grid-item shuffle-item shuffle-item--visible" data-groups="[&quot;web&quot;, &quot;photography&quot;, &quot;branding&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; will-change: transform; opacity: 1; transform: translate(390px, 0px) scale(1); transition-duration: 700ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
              <div class="portfolio-item">
                <div class="position-relative">
                  <img class="img-fluid" src="assets/images/gallery/03.jpg" alt="">
                  <div class="portfolio-overlay">
                    <a class="portfolio-img" href="assets/images/gallery/03.jpg"><i class="fas fa-arrows-alt"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- item End -->

            <!-- item START -->
            <div class="grid-item shuffle-item shuffle-item--visible" data-groups="[&quot;photography&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; will-change: transform; opacity: 1; transform: translate(780px, 0px) scale(1); transition-duration: 700ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
              <div class="portfolio-item">
                <div class="position-relative">
                  <img class="img-fluid" src="assets/images/gallery/04.jpg" alt="">
                  <div class="portfolio-overlay">
                    <a class="portfolio-img" href="assets/images/gallery/04.jpg"><i class="fas fa-arrows-alt"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- item End -->

            <!-- item START -->
            <div class="grid-item shuffle-item shuffle-item--visible" data-groups="[&quot;advertising&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; will-change: transform; opacity: 1; transform: translate(0px, 390px) scale(1); transition-duration: 700ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
              <div class="portfolio-item">
                <div class="position-relative">
                  <img class="img-fluid" src="assets/images/gallery/05.jpg" alt="">
                  <div class="portfolio-overlay">
                    <a class="portfolio-img" href="assets/images/gallery/05.jpg"><i class="fas fa-arrows-alt"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- item End -->

            <!-- item START -->
            <div class="grid-item shuffle-item shuffle-item--visible" data-groups="[&quot;design&quot;, &quot;advertising&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; will-change: transform; opacity: 1; transform: translate(390px, 390px) scale(1); transition-duration: 700ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
              <div class="portfolio-item">
                <div class="position-relative">
                  <img class="img-fluid" src="assets/images/gallery/06.jpg" alt="">
                  <div class="portfolio-overlay">
                    <a class="portfolio-img" href="assets/images/gallery/06.jpg"><i class="fas fa-arrows-alt"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- item End -->

            <!-- item START -->
            <div class="grid-item shuffle-item shuffle-item--visible" data-groups="[&quot;branding&quot;, &quot;web&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; will-change: transform; opacity: 1; transform: translate(780px, 390px) scale(1); transition-duration: 700ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
              <div class="portfolio-item">
                <div class="position-relative">
                  <img class="img-fluid" src="assets/images/gallery/01.jpg" alt="">
                  <div class="portfolio-overlay">
                    <a class="portfolio-img" href="assets/images/gallery/01.jpg"><i class="fas fa-arrows-alt"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- item End -->
          </div>
        </div>
      </div>
    </div>
  </section>


  
