<section class="inner-banner bg-overlay-black-70 bg-holder" style="background-image: url('assets/images/bg/06.jpg');">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <div class="text-center">
            <h1 class="text-white">Event</h1>
          </div>
          <div class="d-flex justify-content-center ">
            <ol class="breadcrumb mb-0 p-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active"><span>Event</span></li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  <section class="space-ptb">
    <div class="container">
      <div class="course-archive bg-dark py-3 px-4 mb-5 border-radius">
        <div class="row d-flex align-items-center justify-content-between">
        <div class="col-md-8">
          <div class="d-flex">
            <div class="mr-3">
              <a class="text-white" href="events-grid.html"><i class="fa fa-th-large mr-2"></i></a>
              <a class="text-white" href="events-list.html"><i class="fa fa-list-ul"></i></a>
            </div>
            <div class="text-white">
              Showing 1-6 of 11 results
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-4 mt-md-0">
          <form class="navbar-form search d-flex">
            <input type="text" name="q" class="form-control input-search rounded-0 bg-white" placeholder="search" autocomplete="off">
            <a href="#"><i class="fa fa-search text-white"></i></a>
          </form>
        </div>
       </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="events">
                <div class="row">
                  <div class="col-12">
                    <marquee width="90%" direction="up" height="100px">
                    <div class="events shadow p-4 bg-white border-radius">
                      <div class="row">
                        <div class="col-lg-3">
                          <div class="events-img mb-4 mb-lg-0">
                            <img class="img-fluid border-0" src="assets/images/events/01.jpg" alt="">
                          </div>
                        </div>
                        <div class="col-lg-6 align-self-center">
                          <div class="events-content">
                            <div class="events-tag">
                              <a href="#" class="badge-danger mb-2">Art Competition</a>
                            </div>
                            <a href="event-detail.html" class="text-dark h5">Young leaders in tech policy fellowship</a>
                            <div class="events-meta my-2">
                              <ul class="list-unstyled mb-0 d-flex">
                                <li class="mr-3"><a href="#"><i class="fas fa-calendar-alt pr-1"></i> 15 Oct, 2020</a></li>
                                <li><a href="#"><i class="fas fa-clock pr-1"></i>  8:00 AM - 5:00 PM</a></li>
                              </ul>
                            </div>
                            <p class="text-dark mb-lg-0">Franklin’s extraordinary success in life and politics can be attributed to his perseverance to overcome his personal liabilities, and his desire to constantly become better.</p>
                          </div>
                        </div>
                        <div class="col-lg-3 align-self-center text-lg-right text-left">
                          <a class="btn btn-dark btn-round" href="#">Join Event</a>
                        </div>
                      </div>
                  
                    
                      <div class="row">
                        <div class="col-lg-3">
                          <div class="events-img mb-4 mb-lg-0">
                            <img class="img-fluid border-0" src="assets/images/events/02.jpg" alt="">
                          </div>
                        </div>
                        <div class="col-lg-6 align-self-center">
                          <div class="events-content">
                            <div class="events-tag">
                              <a href="#" class="badge-success mb-2">Architecture Events</a>
                            </div>
                            <a href="event-detail.html" class="text-dark h5">Expert panel- careers in tech policy</a>
                            <div class="events-meta my-2">
                              <ul class="list-unstyled mb-0 d-flex">
                                <li class="mr-3"><a href="#"><i class="fas fa-calendar-alt pr-1"></i> 20 Sept, 2020</a></li>
                                <li><a href="#"><i class="fas fa-clock pr-1"></i>  12:00 PM - 3:00 PM</a></li>
                              </ul>
                            </div>
                            <p class="text-dark mb-lg-0">Next time you really want to achieve something, take time to focus on your own personal journal. What is your temptation that is standing in your way to greatness?</p>
                          </div>
                        </div>
                        <div class="col-lg-3 align-self-center text-lg-right text-left">
                          <a class="btn btn-dark btn-round" href="#">Join Event</a>
                        </div>
                      </div>
                    </div>
                  </marquee>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <a class="btn btn-primary btn-round mt-4 mt-md-5" href="#">View All</a>
      </div>
    </div>
  </section>
