<section class="bg-overlay-black-60 space-ptb" style="background-image: url(assets/images/bg/03.jpg); background-size: cover; background-position: center center;">
    <!-- Swiper Slider 1-->
    <div class="container">
      <div class="row align-items-center mt-2">
        <div class="col-xl-7 col-lg-7">
          <div>
              <h1 class="text-white mb-4">Personal Education. Lifetime Success.</h1>
              <div class="text-white">
                <p>The first thing to remember about success is that it is a process nothing more, nothing less. There is really no magic to it and it’s not reserved only for a select few people.</p>
              </div>
              <a href="#" class="btn btn-primary mt-4">Learn More<span></span></a>
          </div>
        </div>
        <div class="col-xl-5 col-lg-5 mt-5 mt-lg-0">
          <div class="bg-primary p-4 p-sm-5 banner-form border-radius">
          <h3>Get Started Here </h3>
           <p class="text-white">The new way to find &amp; book a high-quality sitter.</p>
           <form class="form-row mt-4 align-items-center">
            <div class="form-group col-12">
                <label class="text-white font-weight-bold">Full Name</label>
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="form-group col-12">
                <label class="text-white font-weight-bold">Email Address</label>
                <input type="email" class="form-control" placeholder="">
              </div>
              <div class="form-group col-12">
                <label class="text-white font-weight-bold">Mobile Number</label>
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="form-group col-12 mb-4">
                <label class="d-block text-white font-weight-bold">What is your preferred method of contact?</label>
                <div class="custom-control custom-radio custom-control-inline form-radio">
                  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label text-white font-weight-bold" for="customRadioInline1">Phone</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline form-radio">
                  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label text-white font-weight-bold" for="customRadioInline2">Email</label>
                </div>
              </div>
              <div class="form-group col-sm-12 mb-0">
                <button type="submit" class="btn btn-dark">Book Now</button>
              </div>
           </form>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="py-3 bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="d-flex align-items-center">
            <i class="flaticon-education fa-4x text-white"></i>
            <h5 class="pl-4 font-weight-normal mb-0">4 million students</h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex align-items-center">
            <i class="flaticon-knowledge fa-4x text-white"></i>
            <h5 class="pl-4 font-weight-normal mb-0">154k online courses</h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex align-items-center">
            <i class="flaticon-medal fa-4x text-white"></i>
            <h5 class="pl-4 font-weight-normal mb-0">great place to study certification</h5>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="space-ptb">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="section-title">
            <h2 class="title">Our Popular Courses</h2>
          </div>
        </div>
        <div class="col-sm-4 text-md-right mb-4 mb-sm-0">
          <a class="btn btn-primary" href="#">All Courses</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="filters-group mb-lg-4">
            <button class="btn-filter  active" data-group="all">All</button>
            <button class="btn-filter" data-group="branding">Courses</button>
            <button class="btn-filter" data-group="web">Events</button>
            <button class="btn-filter" data-group="photography">Students</button>
            <button class="btn-filter" data-group="advertising">Teachers</button>
          </div>
          <div class="my-shuffle-container columns-3 popup-gallery full-screen shuffle" style="position: relative; overflow: hidden; height: 980.776px; transition: height 700ms cubic-bezier(0.4, 0, 0.2, 1) 0s;">
            <!-- item START -->
            <div class="grid-item shuffle-item shuffle-item--visible" data-groups="[&quot;branding&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; will-change: transform; opacity: 1; transition-duration: 700ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
              <div class="course-item">
                <div class="coures-img">
                  <img class="img-fluid" src="assets/images/courses/01.jpg" alt="">
                  <div class="course-tag">
                    <a href="#">Business</a>
                  </div>
                </div>
                <div class="course-conten">
                  <a href="#" class="course-author d-flex align-items-center mb-3">
                    <img class="avatar img-fluid" src="assets/images/avatar/01.jpg" alt="">
                    <span class="author-name">Alice Williams</span>
                  </a>
                  <h5 class="mb-3">
                    <a href="course-detail.html">Aeronautical &amp; Manufacturing Engineering</a>
                  </h5>
                  <div class="course-rating mb-3 pb-3 border-bottom">
                    <div class="review-rating">
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                  <div class="course-meta">
                    <ul class="list-unstyled mb-0">
                      <li><i class="fa fa-user pr-2"></i>12 students</li>
                      <li><i class="fa fa-book-open pr-2"></i>08 lessons</li>
                      <li class="price"><span>$100</span> $50</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- item End -->

            <!-- item START -->
            <div class="grid-item shuffle-item shuffle-item--visible" data-groups="[&quot;web&quot;, &quot;photography&quot;, &quot;branding&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; will-change: transform; opacity: 1; transform: translate(390px, 0px) scale(1); transition-duration: 700ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
              <div class="course-item">
                <div class="coures-img">
                  <img class="img-fluid" src="assets/images/courses/02.jpg" alt="">
                  <div class="course-tag">
                    <a href="#">Politics</a>
                  </div>
                </div>
                <div class="course-conten">
                  <a href="#" class="course-author d-flex align-items-center mb-3">
                    <img class="avatar img-fluid" src="assets/images/avatar/04.jpg" alt="">
                    <span class="author-name">Mellissa Doe</span>
                  </a>
                  <h5 class="mb-3">
                    <a href="course-detail.html">Business &amp; Management Studies</a>
                  </h5>
                  <div class="course-rating mb-3 pb-3 border-bottom">
                    <div class="review-rating">
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                  <div class="course-meta">
                    <ul class="list-unstyled mb-0">
                      <li><i class="fa fa-user pr-2"></i>08 students</li>
                      <li><i class="fa fa-book-open pr-2"></i>04 lessons</li>
                      <li class="price"><span>$80</span> $40</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- item End -->

            <!-- item START -->
            <div class="grid-item shuffle-item shuffle-item--visible" data-groups="[&quot;photography&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; will-change: transform; opacity: 1; transform: translate(780px, 0px) scale(1); transition-duration: 700ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
              <div class="course-item">
                <div class="coures-img">
                  <img class="img-fluid" src="assets/images/courses/03.jpg" alt="">
                  <div class="course-tag">
                    <a href="#">Psychology</a>
                  </div>
                </div>
                <div class="course-conten">
                  <a href="#" class="course-author d-flex align-items-center mb-3">
                    <img class="avatar img-fluid" src="assets/images/avatar/02.jpg" alt="">
                    <span class="author-name">Paul Flavius</span>
                  </a>
                  <h5 class="mb-3">
                    <a href="course-detail.html">History of Art, Architecture &amp; Design</a>
                  </h5>
                  <div class="course-rating mb-3 pb-3 border-bottom">
                    <div class="review-rating">
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                  <div class="course-meta">
                    <ul class="list-unstyled mb-0">
                      <li><i class="fa fa-user pr-2"></i>16 students</li>
                      <li><i class="fa fa-book-open pr-2"></i>10 lessons</li>
                      <li class="price"><span>$150</span> $80</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- item End -->

            <!-- item START -->
            <div class="grid-item shuffle-item shuffle-item--visible" data-groups="[&quot;advertising&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; will-change: transform; opacity: 1; transform: translate(0px, 490px) scale(1); transition-duration: 700ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
              <div class="course-item">
                <div class="coures-img">
                  <img class="img-fluid" src="assets/images/courses/01.jpg" alt="">
                  <div class="course-tag">
                    <a href="#">Medicine</a>
                  </div>
                </div>
                <div class="course-conten">
                  <a href="#" class="course-author d-flex align-items-center mb-3">
                    <img class="avatar img-fluid" src="assets/images/avatar/05.jpg" alt="">
                    <span class="author-name">Felica Queen</span>
                  </a>
                  <h5 class="mb-3">
                    <a href="course-detail.html">Communication &amp; Media Studies</a>
                  </h5>
                  <div class="course-rating mb-3 pb-3 border-bottom">
                    <div class="review-rating">
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                  <div class="course-meta">
                    <ul class="list-unstyled mb-0">
                      <li><i class="fa fa-user pr-2"></i>21 students</li>
                      <li><i class="fa fa-book-open pr-2"></i>09 lessons</li>
                      <li class="price"><span>$180</span> $90</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- item End -->

            <!-- item START -->
            <div class="grid-item shuffle-item shuffle-item--visible" data-groups="[&quot;design&quot;, &quot;advertising&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; will-change: transform; opacity: 1; transform: translate(390px, 490px) scale(1); transition-duration: 700ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
              <div class="course-item">
                <div class="coures-img">
                  <img class="img-fluid" src="assets/images/courses/02.jpg" alt="">
                  <div class="course-tag">
                    <a href="#">Architecture</a>
                  </div>
                </div>
                <div class="course-conten">
                  <a href="#" class="course-author d-flex align-items-center mb-3">
                    <img class="avatar img-fluid" src="assets/images/avatar/03.jpg" alt="">
                    <span class="author-name">Michael Bean</span>
                  </a>
                  <h5 class="mb-3">
                    <a href="course-detail.html">Geography &amp; Environmental Science</a>
                  </h5>
                  <div class="course-rating mb-3 pb-3 border-bottom">
                    <div class="review-rating">
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                  <div class="course-meta">
                    <ul class="list-unstyled mb-0">
                      <li><i class="fa fa-user pr-2"></i>25 students</li>
                      <li><i class="fa fa-book-open pr-2"></i>15 lessons</li>
                      <li class="price"><span>$300</span> $200</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- item End -->

            <!-- item START -->
            <div class="grid-item shuffle-item shuffle-item--visible" data-groups="[&quot;branding&quot;, &quot;web&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; will-change: transform; opacity: 1; transform: translate(780px, 490px) scale(1); transition-duration: 700ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
              <div class="course-item">
                <div class="coures-img">
                  <img class="img-fluid" src="assets/images/courses/03.jpg" alt="">
                  <div class="course-tag">
                    <a href="#">Biological</a>
                  </div>
                </div>
                <div class="course-conten">
                  <a href="#" class="course-author d-flex align-items-center mb-3">
                    <img class="avatar img-fluid" src="assets/images/avatar/06.jpg" alt="">
                    <span class="author-name">Sara Lisbon</span>
                  </a>
                  <h5 class="mb-3">
                    <a href="course-detail.html">Electrical &amp; Electronic Engineering</a>
                  </h5>
                  <div class="course-rating mb-3 pb-3 border-bottom">
                    <div class="review-rating">
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                  <div class="course-meta">
                    <ul class="list-unstyled mb-0">
                      <li><i class="fa fa-user pr-2"></i>35 students</li>
                      <li><i class="fa fa-book-open pr-2"></i>17 lessons</li>
                      <li class="price"><span>$500</span> $280</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- item End -->
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="space-ptb bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mb-5">Learn by Doing</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-2 col-md-4 mb-3 mb-xl-0">
          <div class="category text-center">
          <a href="#" class="category-item bg-dark border-radius py-4">
            <div class="category-icon">
              <i class="flaticon-medicine fa-3x text-white"></i>
            </div>
            <h5 class="mt-3">Medicine</h5>
          </a>
        </div>
        </div>
        <div class="col-xl-2 col-md-4 mb-3 mb-xl-0">
          <div class="category text-center">
          <a href="#" class="category-item py-4 bg-info border-radius">
            <div class="category-icon">
              <i class="flaticon-first-aid-kit fa-3x text-white"></i>
            </div>
            <h5 class="mt-3 text-white">Pharmacy</h5>
          </a>
        </div>
        </div>
        <div class="col-xl-2 col-md-4 mb-3 mb-xl-0">
          <div class="category text-center">
          <a href="#" class="category-item py-4 bg-warning border-radius">
            <div class="category-icon">
              <i class="flaticon-mental-health fa-3x text-white"></i>
            </div>
            <h5 class="mt-3 text-white">Psychology</h5>
          </a>
        </div>
        </div>
        <div class="col-xl-2 col-md-4 mb-3 mb-md-0">
          <div class="category text-center">
          <a href="#" class="category-item py-4 bg-success border-radius">
            <div class="category-icon">
              <i class="flaticon-global fa-3x text-white"></i>
            </div>
            <h5 class="mt-3 text-white">Economics</h5>
          </a>
        </div>
        </div>
        <div class="col-xl-2 col-md-4 mb-3 mb-md-0">
          <div class="category text-center">
          <a href="#" class="category-item py-4 bg-secondary border-radius">
            <div class="category-icon">
              <i class="flaticon-stock-market fa-3x text-white"></i>
            </div>
            <h5 class="mt-3 text-white">Business</h5>
          </a>
        </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="category text-center">
          <a href="#" class="category-item bg-danger border-radius py-4">
            <div class="category-icon">
              <i class="flaticon-politics fa-3x text-white"></i>
            </div>
            <h5 class="mt-3 text-white">Politics</h5>
          </a>
        </div>
        </div>
      </div>
      <div class="row justify-content-center">
      <a class="btn btn-dark mr-3 mt-5" href="#">View All Categories</a>
    </div>
    </div>
  </section>



  <section class="space-ptb">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mb-4 mb-lg-0 pr-lg-5">
          <div class="position-relative pb-md-0 h-100 pr-md-6 pb-md-6">
            <img class="img-fluid border-radius" src="assets/images/about/05.jpg" alt="">
            <div class="position-absolute right-0 bottom-0 d-none d-md-block">
              <img class="img-fluid border-radius" src="assets/images/about/06.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 pr-lg-6">
          <div class="section-title mb-4">
            <h2 class="title">Higher Education Begins Here</h2>
            <p class="lead mb-0">Commitment is something that comes from understanding that everything has its price and then having the willingness to pay that price.</p>
          </div>
          <p class="mb-4 mb-md-5">The other virtues practice in succession by Franklin were silence, order, resolution, frugality, industry, sincerity, Justice, moderation, cleanliness, tranquility, chastity and humility. For the summary order he followed a little scheme of employing his time each day.</p>
          <a href="#" class="btn btn-primary btn-round">Read More</a>
        </div>
      </div>
    </div>
  </section>
